.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.square {
  margin: 0;
  border: solid thin #333;
  display: table-cell;
  text-align: center;
  width: 11%;
  height: 11%;
}

.table-row {
  display: table-row;
  table-layout: fixed;
}

.table {
  display: table;
  width: calc(70vmin);
  height: calc(70vmin);
  table-layout: fixed;
}

.img {
  width: 65%;
  height: auto;
  /* transform: scale(1, -1); */
}

.ownedKoma {
  margin: auto;
  display: flex;
  width: calc(8vmin);
}
